table#b_bokningstable{
  width: 700px;
  border-collapse: collapse;
  border: 1px solid black;
}
th, td {
  padding: 5px;
  text-align: left;
  border: 1px solid black;
}

#b_th_tid{
  width: 60px;

}

#b_th_namn{
  width: 200px;
}
#b_th_tel{
  width: 120px;
}

#b_th_behandling{
  width: 260px;
}

#b_th_valj{
  width: 60px;
}