:root {
    --bg: darkgreen;
    --bg-accent: green;
    --text-color: white;
    --border: green;
    --borer-radius: 8px;
    --speed: 500ms;
  }

.rooten {
    
    --bg: darkgreen;
    --bg-accent: green;
    --text-color: rgb(235, 11, 11);
    --border: green;
    --borer-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.navbar {
    height: var(--nav-siz);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom:  var(--border);
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

