.long_textfelt{
    width: 300px;
}

.short_textfelt{
    width: 60px;
}
.p_button{
    font-size: medium;
    padding: 1px;
}

#p_id{
    width: 160px;
}
#p_productstable{
    width: 700px;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 30px;
}

#p_column_name{
    width: 400px;
}
#p_column_size{
    width: 80px;
}
#p_column_price{
    width: 80px;
}
#p_column_id{
    width: 140px;
}