.MainBokingDiv{
    padding: 20px;
    /*margin: 20px;*/
    display: block;
  }

  .printbutton {
    font-size: large;
    padding: 2px;
    margin: 20px;
   
  }

  @media print {

    body * {
      visibility: hidden;
    }
    #utskriftformat, #utskriftformat * {
      visibility: visible;
    }
    #utskriftformat {
      position: absolute;
      left: 0;
      top: 0;
      background-color: white;
      color: black;
    }
    

  }